body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(26, 26, 26);
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.navbar-brand{
    color: white;
    font-size: 30px;
    font-weight: 600;
}
.navbar-brand img{
    width: 50%;
}
.nav-link{
    color: white;
    font-size: 22px;
}
.nav-link:hover{
    color: rgb(248, 232, 191);
}
.left-side div h1{
    font-size: 3rem;
    
}
.left-side div h3{
    font-size: 2rem;
}
.left-side div p{
    font-size: 1rem;
}
.home-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.pro-img{
    border-top-left-radius: 40%;
    border-top-right-radius: 50%;
    border-bottom-left-radius: 50%;
}
.qualification-container{
    display: flex;
    justify-content: space-evenly;
}
.section-title{
    font-size: 32px;
}
.education-title, .experience-title{
    font-size: 28px;
}
.degree-title{
    font-size: 22px!important;
}
.degree-institute{
    font-size: 18px;
}
.skill-title{
    font-size: 18px;
}
.progress-bar{
    background-color: rgb(143, 117, 236);
    color: black;
    font-weight: 600;
    font-size: 16px;
}
.project-container{
    display: flex;
    justify-items: center;
    align-items: center;
}
.contact{
    background-color: #212529;
}
.contact-title{
    font-size: 28px;
}
i{
    font-size: 22px;
    color: rgb(143, 117, 236);
}
.media-links{
    display: flex;
    column-gap: 15px;
}
.fa-brands:hover{
    color: rgb(81, 41, 223);
}
.fa-brands{
    font-size: 30px;
}
.about-text, .address-text{
    font-size: 18px;
}
